h1{
  font-family: "Lucida console"
}
.textocomun{
  color:#A8063F;
  font-size: 20px;
  font-family: "sans-serif", "lucida console"
}
.textochiquito{
  font-size: 10px
    font-
}
body{
  background:#5A5A5A
}